.el-button {
  border: 2px solid #dcdfe6;
}

.el-button--primary {
  border: 2px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, $--color-primary, #dfa1e5), linear-gradient(90deg, $--color-primary, #dfa1e5);
}

.el-button--primary.is-plain {
  border: 2px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    linear-gradient(90deg, $--color-primary, #dfa1e5);
  color: #210023;
}

.el-button--primary.is-plain:hover {
  border: 2px solid $--color-primary;
  background-color: rgba(255, 255, 255, 0.8);
  color: #210023;
}

.el-button.is-circle:hover {
  background-color: $--color-primary;
  color: #ffffff;
  svg {
    fill: #ffffff;
  }
}
