.el-upload--picture-card {
  border: 1px solid #e6e8ec;
  background-color: #e6e8ec;
  .el-icon-plus {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #666666;
    color: #666666;
  }
}
