$theme-color    : #36A2EA;
$success-color: #26A149;
$warning-color: #F7B217;
$error-color: #ED158E;

$title-color    : #210023;
$context-color  : #666666;
$desc-color     : #cccccc;

$font-size-s: 12px;
$font-size-b: 14px;
$font-size-m: 16px;
$font-size-l: 18px;

$slideBarWidth: 0;
$headerHeight: 60;